<div class="app-settings">
  <mat-card appearance="outlined">
    <mat-card-content>
      <form class="app-settings__form-settings" [formGroup]="settingsForm">
        <!-- Информационная плашка для URL-адреса GTA-SAMP -->
        <mat-card class="info-card">
          <mat-card-content>
            <mat-icon>info</mat-icon>
            <br />
            <span>
              Укажите URL-адрес, с которого будут загружаться файлы GTA San
              Andreas MultiPlayer. Этот адрес должен быть действительным и
              доступным. Так же по этому пути должен располагаться version.json.
            </span>
          </mat-card-content>
        </mat-card>

        <mat-form-field>
          <mat-label>URL-адрес GTA-SAMP</mat-label>
          <input
            matInput
            type="text"
            formControlName="downloadURLOfGTASanAndreasFiles"
          />
          @if (settingsForm.value['downloadURLOfGTASanAndreasFiles']) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clerableInput('downloadURLOfGTASanAndreasFiles')"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

        <!-- Плашка ошибки для URL-адреса GTA-SAMP -->
        @if (!settingsForm.controls['downloadURLOfGTASanAndreasFiles'].valid &&
        settingsForm.controls['downloadURLOfGTASanAndreasFiles'].touched) {
        <mat-card class="error-card">
          <mat-card-content>
            <mat-icon>error</mat-icon>
            <br />
            <span>
              Поле не валидно. Пожалуйста, проверьте введенный URL-адрес и
              исправьте его. Проверьте наличие файла "version.json" по адресу
              "{{
                settingsForm.value["downloadURLOfGTASanAndreasFiles"]
              }}version.json".
            </span>
          </mat-card-content>
        </mat-card>
        }

        <mat-divider></mat-divider>

        <!-- Информационная плашка для URL-адреса Crossover -->
        <mat-card class="info-card">
          <mat-card-content>
            <mat-icon>info</mat-icon>
            <br />
            <span>
              Укажите URL-адрес, с которого будет загружаться архив с Crossover
              для MacOS. Рекомендуется версия 24.0.5, на других версиях
              работоспособность не гарантирована!
              <br />
              После того как вы введете URL адрес, уберите курсор с поля ввода
              для валидации ссылки и проверки наличия файла.
            </span>
          </mat-card-content>
        </mat-card>

        <mat-form-field>
          <mat-label>URL-адрес Crossover</mat-label>
          <input
            matInput
            type="text"
            formControlName="downloadURLOfCrossover"
          />
          @if (settingsForm.value['downloadURLOfCrossover']) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clerableInput('downloadURLOfCrossover')"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

        <!-- Плашка ошибки для URL-адреса Crossover -->
        @if (!settingsForm.controls['downloadURLOfCrossover'].valid &&
        settingsForm.controls['downloadURLOfCrossover'].touched) {
        <mat-card class="error-card">
          <mat-card-content>
            <mat-icon>error</mat-icon>
            <br />
            <span>
              Поле не валидно. Пожалуйста, проверьте введенный URL-адрес и
              исправьте его. Проверьте наличие архива с Crossover по адресу "{{
                settingsForm.value["downloadURLOfCrossover"]
              }}".
            </span>
          </mat-card-content>
        </mat-card>
        }

        <mat-divider></mat-divider>

        <mat-form-field>
          <mat-label>Ник</mat-label>
          <input matInput type="text" formControlName="nickNameSAMP" />
          @if (settingsForm.value['nickNameSAMP']) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clerableInput('nickNameSAMP')"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

        <!-- Плашка ошибки для URL-адреса Crossover -->
        @if (!settingsForm.controls['nickNameSAMP'].valid &&
        settingsForm.controls['nickNameSAMP'].touched) {
        <mat-card class="error-card">
          <mat-card-content>
            <mat-icon>error</mat-icon>
            <br />
            <span>
              Поле не валидно. Пожалуйста, введите нормальный ник (Латиница:
              верхний и нижний регистр, числа, нижнее подчеркивание).
            </span>
          </mat-card-content>
        </mat-card>
        }

        <mat-divider></mat-divider>
      </form>
    </mat-card-content>
  </mat-card>
</div>
