.app-settings {
  padding-top: 10px;

  &__form-settings {
    .mat-caption {
      margin-bottom: 10px; /* Отступ снизу до поля ввода */
      color: #757575; /* Серый цвет, типичный для подсказок в Material */
    }

    mat-divider {
      padding-bottom: 20px;
    }

    mat-form-field {
      width: 100%;
    }
  }
}
