.app-settings {
  padding-top: 10px;

  &__form-settings {
    .info-card {
      background-color: #e3f2fd; /* Светло-голубой фон для информации */
      margin-bottom: 20px; /* Отступ снизу */
      padding: 10px; /* Внутренние отступы */
      display: flex;
      gap: 10px; /* Расстояние между иконкой и текстом */
    }

    .error-card {
      background-color: #ffebee; /* Светло-красный фон для ошибки */
      margin-top: 10px; /* Отступ сверху */
      margin-bottom: 20px; /* Отступ снизу */
      padding: 10px; /* Внутренние отступы */
      display: flex;
      gap: 10px; /* Расстояние между иконкой и текстом */
      border-radius: 4px;
    }

    .info-card mat-icon {
      color: #1976d2; /* Синий цвет для иконки информации */
    }

    .error-card mat-icon {
      color: #f44336; /* Красный цвет для иконки ошибки */
    }

    mat-form-field {
      width: 100%;
    }

    mat-divider {
      padding-bottom: 20px;
    }
  }

  &__server-address-container {
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  &__server-address-item {
    display: flex;
    gap: 10px;
  }
}
