<div class="app-install-crossover">
  <mat-card>
    <mat-card-content>
      <mat-list>
        @if (crossoverStatusInstall) {
        <mat-list-item>
          <mat-icon class="app-install-crossover__completed-icon">
            check_circle
          </mat-icon>
          <span class="completed-text">Crossover установлен!</span>
        </mat-list-item>
        } @else {
        <mat-list-item>
          <mat-icon class="app-crossover__uncompleted-icon">warning</mat-icon>
          <span> Что-то случилось с Crossover, разберитесь с этим: </span>
        </mat-list-item>

        <div class="app-crossover__install-and-check">
          @if (installationProgress === 0) {
          <button
            class="app-crossover__button"
            mat-raised-button
            color="primary"
            (click)="installAndCheck()"
          >
            Установить и проверить снова
          </button>
          } @else if (installationProgress > 0) {
          <mat-progress-bar
            class="app-crossover__progress"
            [mode]="modeProgress"
            [value]="installationProgress"
          ></mat-progress-bar>

          @if (modeProgress === 'determinate') {
          <div>
            Скачивание: {{ installationProgress }}% | Скачано
            {{ loadedProgress }} из {{ totalProgress }} байт
          </div>
          } @else {
          <div>Скачивание завершено.</div>
          <div>
            Распаковка Crossover
            <span *ngIf="extractCrossover">({{ extractCrossover }})</span>.
          </div>
          }

          <button
            class="app-crossover__button"
            mat-raised-button
            color="primary"
            (click)="cancelDownload()"
          >
            Отменить установку
          </button>
          }
          <br />
          <br />
        </div>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
