<div class="app-main">
  <mat-card appearance="outlined">
    <mat-card-content class="app-main__modules">
      <app-install-crossover></app-install-crossover>

      <!-- Пока Crossover не готов, нет смысла что-то показывать другое -->
      @if(crossoverStatusInstall) {
      <app-maintenance-crossover></app-maintenance-crossover>
      }

      <!--  -->

      @if (crossoverStatusMaintenance ===
      enumCrossoverMaintenanceStatus.SUCCESS) {
      <app-maintenance-game></app-maintenance-game>
      }

      <!--  -->

      @if (gameStatusMaintenance === enumGameMaintenanceStatus.SUCCESS) {
      <app-go-to-game></app-go-to-game>
      }
    </mat-card-content>
  </mat-card>
</div>
