<div class="app-maintenance-crossover">
  <mat-card>
    <mat-card-content>
      <mat-list>
        @if (crossoverStatusMaintenance ===
        enumCrossoverMaintenanceStatus.STATUS_UNDEFINED) {
        <mat-list-item>
          <mat-icon class="app-crossover__uncompleted-icon">warning</mat-icon>
          <span> Статус обслуживания Crossover неизвестен! </span>
        </mat-list-item>
        } @else if (crossoverStatusMaintenance ===
        enumCrossoverMaintenanceStatus.BOTTLE_INVALID) {
        <mat-list-item>
          <mat-icon class="app-crossover__uncompleted-icon">warning</mat-icon>
          <span> Бутылка "{{ nameBottleCrossover }}" не валидна! </span>
        </mat-list-item>

        <button
          class="app-crossover__button"
          mat-raised-button
          color="primary"
          (click)="createBottleCrossover()"
        >
          Создать бутылку "{{ nameBottleCrossover }}"
        </button>

        } @else if (crossoverStatusMaintenance ===
        enumCrossoverMaintenanceStatus.BOTTLE_PROCESS_CREATED) {
        <mat-list-item>
          <mat-icon class="app-crossover__uncompleted-icon">create</mat-icon>
          <span>
            Бутылка "{{ nameBottleCrossover }}" в процессе создания...
          </span>
        </mat-list-item>
        } @else if (crossoverStatusMaintenance ===
        enumCrossoverMaintenanceStatus.BOTTLE_READY_SETTINGS) {
        <mat-list-item>
          <mat-icon class="app-crossover__uncompleted-icon"
            >car_repair</mat-icon
          >
          <span>
            Бутылка "{{ nameBottleCrossover }}" готова к техническому
            обслуживанию...
          </span>

          <!-- TODO: Добавить кнопку технического обслуживания -->
        </mat-list-item>
        } @else if (crossoverStatusMaintenance ===
        enumCrossoverMaintenanceStatus.SUCCESS) {
        <mat-list-item>
          <mat-icon class="app-maintenance-crossover__completed-icon">
            check_circle
          </mat-icon>
          <span class="completed-text"> Crossover обслужен! </span>
        </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
